h1 {
   font-size:450%;
   text-align:center;   
}
h4 {
   text-align:left;
   font-size:150%
}


a:link {color:#FFFFFF;
       text-decoration:none
}    

a:visited {color:#FFFFFF;} 
a:hover {color:#FF00FF;}  
a:active {color:#FFFFFF;} 

input
{
	width:300px;
	height:50px;
	font-size: 1.5em;
	color: #ff00ff;
	font-family: 'Press Start 2P', cursive;	
	background: #cccccc;
	border: 1px solid #ffffff;
	margin-right:auto;
	margin-left:auto;

}

body {
        font-family: 'Press Start 2P', cursive;	
	background-color:orange;
}

table
{	
	margin-left:auto; 
    	margin-right:auto;	
	border-collapse:collapse;
}

td
{
	vertical-align:top;
	border: 1px solid black;
	background: #000000;
	width: 400px;
	height: 400px;
	color: #ffffff;
}

.highlighted {
	     border: 5px solid;
}

.button {
        background-color: #777777;
        border: 1px solid #ffffff;
        font-family: 'Press Start 2P', cursive;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 6px;
        height: 28px;
        color: #fff;
        border-radius: 5px;
        margin-right:auto;
        margin-left:auto;
}

#chat_input
{
	height:25px;
	font-size: 1em;
}

#chat_box
{
	height:100px;
	background: #444444;
	text-align: center;
}

#chat_room
{
	margin-right:auto;
	margin-left:auto;
	font-family: sans-serif;
	font-size: 12px;
	text-align: left;
	width: 350px;
	height: 100px;
	background: #888888;
	overflow-y: scroll;
}


#billboard {
	text-align:center;
}

#user_info {
	   text-align:center;
}

#me {
    color:#FF00FF;
}

#leaderboard {
	     display:none;
	     padding:5px;
}

#game {
      display:none;
}

#login {
       vertical-align:middle;
       text-align:center;
}

#wait {
       display:none;
       font-size:2.5em;
       vertical-align:middle; 
      }

#lobby {
       vertical-align:middle;
       text-align:center;
       display:none;
}      


#lobby_menu {
	    width:300px;
	    height:250px;
	    border: 5px #999999 inset;	
	    background-color:#555555;
	    font-size:1.5em;	
	    font-family: 'Press Start 2P', cursive;		
	    margin-right:auto;	
	    margin-left:auto;
	    overflow:auto;	
	    padding:5px;	
	    text-align:left;
}

.lobby_item {
	       background-color:#555555;
	       color: #000000
}

.selected {
	       background-color:#1589FF;
	       color: #FFFFFF
}
	
#arena_container {
        width : 400px;
        height : 400px;
        border : 1px solid black;
        background-color : black;
}
