<!doctype html>
<html class="no-js" lang="en"> 
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}princetron.css"/>

		<style media="screen" type="text/css">

		  #arena_container {
		  width : 400px;
		  height : 400px;
		  border : 1px solid black;
		  }

		</style>

	</head>
	<body>
		<div role="main">
			<input id="username_input" type="text" size="40" placeholder="Username"/>
			<input id="login_button" type="button" value="Login"/>	
			<h4>Lobby</h4>
			<div id="lobby"></div>
			<h4>Invitations</h4>
			<div id="invitations"></div>
			<input id="invite_button" type="button" value="Invite"/>	
			<div id="arena_container">
				<canvas id="arena" width="400" height="400"></canvas>
			</div>
			<div id="billboard"></div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">
			// Websocket connection
			var socket = new WebSocket('ws://ec2-107-22-122-48.compute-1.amazonaws.com:8080');

			socket.onmessage = function(m) {
				var message = JSON.parse(m.data);
				if ("lobby" in message) {
					var users = message.lobby.users
					$("#lobby").html("");
					for (var i = 0; i < users.length; i++) {
						$("#lobby").append("<p>" + users[i] + "</p>");
					}
				}
				if ("invitation" in message) {
					if (confirm("Would you like to play with " + message.invitation.user)) {
						socket.send(JSON.stringify({"acceptInvitation" : true}));
					}
				}
				if ("enterArena" in message) {
					var player_specs = message.enterArena.players;
					players = new Array(player_specs.length);
					for (var i = 0; i < player_specs.length; i++) {
						players[i] = { x : player_specs[i].xStart, 
												 	 y : player_specs[i].yStart,
													 dir : player_specs[i].dirStart,
													 active : true };
					}
					my_id = message.enterArena.playerId;
				}
				if ("startGame" in message) {
					game_state = "playing";
					timestep = 0;
					initBoard();
					drawBoard();
				  game_timer = window.setInterval(function(i) {
						advance();
						drawBoard();
					}, 100);
				}
				if ("opponentTurn" in message) {
					turnPlayer(players[message.opponentTurn.playerId], 
						message.opponentTurn.isLeft);	
				}
				if ("gameResult" in message) {
					if (message.gameResult.result == "loss") {
						$('#billboard').html("<p>Player " + 
							message.gameResult.playerId + " loses</p>");
						players[message.gameResult.playerId].active = false;	
					}
					if (message.gameResult.result == "win") {
						$('#billboard').html("<p>Player " + 
							message.gameResult.playerId + " wins</p>");
					}
				}
				if ("endGame" in message) {
					window.clearInterval(game_timer);
					$('#billboard').html("<p>Game over!</p>");
				}
			};

			// UI handlers
			$("#login_button").click(function() {
				var msg = { "logIn" : { "user" : $('#username_input').val() }};
				socket.send(JSON.stringify(msg));
			});

			$("#lobby").on("click", "#lobby p", function() {
				$("#invitations").append("<p>" + $(this).html() + "</p>");
			});

			$("#invite_button").click(function() {
				var msg = { "readyToPlay" : { "invitations" : []}};
				$("#invitations p").each(function(i, e) { 
					msg.readyToPlay.invitations.push($(e).text());
				});
				socket.send(JSON.stringify(msg));
			});
			$(document).keypress(function(e) {
				if (game_state == "playing") {
					// Left
					if (e.which == 106) {
						turnPlayer(players[my_id], true);
						socket.send(JSON.stringify({ turn : {
							timestamp : timestep,
							isLeft : true } }));
					}
					// Right
					else if (e.which == 107) {
						turnPlayer(players[my_id], false);
						socket.send(JSON.stringify({ turn : {
							timestamp : timestep,
							isLeft : false } }));
					}
				}
			});

			// Game logic
			var game_board;
			var players;
			var game_state = "new";
			var my_id;
			var timestep;
			var game_timer;
			var MAX_PLAYERS = 4;
			var BOARD_SIZE = 100;
			var BOARD_DISPLAY_SIZE = 400;
			var CELL_SIZE = BOARD_DISPLAY_SIZE / BOARD_SIZE;
			var COLORS = [ "#F00", "#0F0", "#00F", "#FF0" ];

			function turnPlayer(player, isLeft) {
				if (isLeft) {
					switch (player.dir) {
						case "north" : player.dir = "west"; break;
						case "south" : player.dir = "east"; break;
						case "east" : player.dir = "north"; break;
						case "west" : player.dir = "south"; break;
					}
				}
				else {
					switch (player.dir) {
						case "north" : player.dir = "east"; break;
						case "south" : player.dir = "west"; break;
						case "east" : player.dir = "south"; break;
						case "west" : player.dir = "north"; break;
					}
				}
			}

			function initBoard() {
				game_board = new Array(BOARD_SIZE);
				for (var i = 0; i < BOARD_SIZE; i++) {
					game_board[i] = new Array(BOARD_SIZE);
				}
				for (var i = 0; i < BOARD_SIZE; i++) {
					for (var j = 0; j < BOARD_SIZE; j++) {
						game_board[i][j] = -1;
					}
				}
			}

			function sendCollision() {
				socket.send(JSON.stringify({collision : { timestamp : timestep}}));
			}

			function advance() {
				timestep++;
				// Update position
				for (var i = 0; i < players.length; i++) {
					if (players[i].active) {
						switch (players[i].dir) {
							case "north" : players[i].y++; break;
							case "south" : players[i].y--; break;
							case "east" : players[i].x++; break;
							case "west" : players[i].x--; break;
						}
					}
				}
				// Check for collisions
				if (players[my_id].active) {
					if (players[my_id].x < 0 || players[my_id].x >= BOARD_SIZE ||
							players[my_id].y < 0 || players[my_id].y >= BOARD_SIZE ||
							game_board[players[my_id].x][players[my_id].y] != -1) {
						players[my_id].active = false;
						sendCollision();
					}
				}
				// Update board
				for (var i = 0; i < players.length; i++) {
					if (players[i].x >= 0 && players[i].x < BOARD_SIZE &&
							players[i].y >= 0 && players[i].y < BOARD_SIZE &&
							players[i].active) {
						game_board[players[i].x][players[i].y] = i;	
					}
				}
			}

			function drawBoard() {
				var ctx = $("#arena").get(0).getContext("2d");
				for (var i = 0; i < BOARD_SIZE; i++) {
					for (var j = 0; j < BOARD_SIZE; j++) {
						if (game_board[i][j] == -1) ctx.fillStyle = "#000";
						else ctx.fillStyle = COLORS[game_board[i][j]];
						ctx.fillRect(i*CELL_SIZE, (BOARD_SIZE-j-1)*CELL_SIZE, CELL_SIZE, CELL_SIZE);
					}
				}
			}

		</script>
	</body>
</html>
