{% extends "base.html" %}

{% block title %} Princetron {% endblock %}

{% block body %}
	  <h1>PRINCETRON</h1>


	  <table>
	    <tr>
	      <td>            
		<div role="data" id="data">
                  
		  <div id="login_data">
		  <input id="username_input" type="text" size="40" placeholder="Username"/>
		  <br><br>
                  <input id="login_button" type="button" value="Login"/>
		  </div>

                  <div id="lobby"></div>
		    <select multiple id ="lobby_menu"><option value=""></option></select><br><br>
                  <div id="button"><input id="invite_button" type="button" value="Invite"/></div>
		</div>
	      </td>
	      
	      <td>          
		<div role="main" id="main">
		  <div id="arena_container">
                    <canvas id="arena" width="400" height="400"></canvas>
		  </div>
		  <div id="billboard"></div>
              </div></td>
	      
	      <td>
		<h4>Leaders</h4></br>
		{% for leader in leaders %}
		{{forloop.counter}}. <a href = "/p/{{leader}}">{{ leader }}</a></br>
		{% endfor %}
	      </td>

	    </tr>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="static/js/princetron.js"></script>
{% endblock %}
