<!doctype html>
<html class="no-js" lang="en"> 
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="static/css/princetron.css"/>

	</head>
	<body>
		<div role="main">
			<input id="username_input" type="text" size="40" placeholder="Username"/>
			<input id="login_button" type="button" value="Login"/>	
			<h4>Lobby</h4>
			<div id="lobby"></div>
			<h4>Invitations</h4>
			<div id="invitations"></div>
			<input id="invite_button" type="button" value="Invite"/>	
			<div id="arena_container">
				<canvas id="arena" width="400" height="400"></canvas>
			</div>
			<div id="billboard"></div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

		<script src="static/js/princetron.js"></script>

	</body>
</html>
