{% extends "base.html" %}

{% block title %} Princetron {% endblock %}

{% block body %}
	  <h1>PRINCETRON</h1>


	  <table>
	    <tr>
		<td id="login">
		  <div id="interrupt">
		  </div>
		  <div>
		    <input id="username_input" type="text" size="40" placeholder="Username" autofocus="autofocus"/>
                  </div>
		 </br>
		 <input class="button" id="login_button" type="button" value="Login"/>
		 <div id="login_msg"></div>
		</td>

                <td id="lobby">
		  <div id="lobby_menu">
		  </div>
                  <div id="button"></br><input class="button" id="invite_button" type="button" value="Invite"/></div> 
		</td>
	      
		<td id="game">
		  <div id="arena_container">
                    <canvas id="arena" width="400" height="400"></canvas>
		  </div>
		</td>
	      
	   	<td id="wait">
		  Waiting for Opponent...
		</td>

		<td id="leaderboard">
		  <div id="billboard"></div>
		  <div id="user_info"></div>
		  <h4>Leaders</h4>
		  <div id="leaders"></div>
		  
		  <h4><a href="JavaScript:showElement($(&quot;#lobby&quot;))">Return To Lobby</a></h4>
		  
		</td>
	    </tr>
	    <tr>
	      <td id="chat_box">
		</br>
		<div id="chat_room">
		</div>
		</br>
		<div><input id="chat_input" type="text" size="150" placeholder="Type here to chat!"/></div>
		</br>
	      </td>
	    </tr>
	  </table>

	  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="static/js/princetron.js"></script>
{% endblock %}
